*{
  padding: 0;
  margin: 0;
}
.home-container {
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: black; */
}
.no-results{
  color: #dfdada;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-item {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border-radius: 13px;
}

.carrinho-compra {
  width: 180px;
  height: 30px;
  border-radius: 15px;
  background-color: #c70505;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.central {
  background: #141414;
}

.carrinho-compra:hover {
  background-color: #eb0505c5;
}

.product-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.product-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-item p {
  margin-bottom: 5px;
}

.product-item .price {
  font-weight: bold;
}

.product-item .platform {
  color: #888;
}
h1 {
  font-family: 'Nome da Fonte', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: rgb(218, 16, 16);
}
body{
  background-color: rgb(223, 218, 218);
}
.search-button {
  background-color: #4c8bf5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #1d62ff;
}
.cadas-button {
  background-color: #c70505;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cadas-button:hover {
  background-color: #eb0505c5;
}
.search-input {
  padding: 1px;
  font-size: 16px;
  border: 1px solid #4c8bf5;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.search-input:focus {
  outline: none;
  border-color: #1d62ff;
}
.search-container{
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.container {
  position: relative;
  overflow: hidden;
}

.capa {
  width: 130px;
  height: 130px;
  margin: 5px 5px;
}

.name-game {
  color: #fff;
}

.comprar {
  border-radius: 20px;
  width: 100px;
  height: 35px;
  background: #F77E09;
  color: #fff;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 10px;
}

.carrinho,
.fa-plus,
.fa-user {
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c70505;
  border: none;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.carrinho:hover,
.fa-plus:hover,
.fa-user:hover {
  background-color: #eb0505c5;
}

/* Media Query para dispositivos móveis */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .search-bar {
    width: 150px;
  }

  .navbar-container {
    justify-content: space-between;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  .menu-icon:hover {
    color: #ccc;
  }

  .active {
    display: flex;
  }
}


.cart {
  color: #fff;
  background-color: #F77E09;
  border-radius: 5px;
  padding: 0 30px;
  border: none;
  height: 26px;
  cursor: pointer;
}

.cart:hover {
  background-color: #ff8e21;
  transition: background-color 0.3s;
}

.background-top {
  width: 100%;
}

.middle{
  background-image: url('./assets/background-middle.png');
  background-size: cover;
  box-shadow: inset 100px 100px 100px 2000px rgb(0 0 0 / 80%);
}

.card-game{
  width: 150px;
  height: 250px;
  background-color: #2C2A2A;
  border-radius: 20px;
}

.title{
  color: #F77E09;
  text-align: left;
  margin-bottom: 15px;
}


.cards {
padding: 60px 75px 0 75px;
}

.cards2 {
padding: 60px 75px 30px 75px;
}

main{
  display: flex;
}


